name: Docker Image CI master branch

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ilyamaslov.ru:$(date +%s) --tag ilyamaslov.ru:latest
